<a href="https://colab.research.google.com/github/Amal2802/Project2_readme/blob/main/Project2_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mount google drive
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [2]:
#Import
import pandas as pd
import numpy as np

In [3]:
# Load in the data
df = pd.read_csv('/content/Car_Insurance_Claim.csv.zip')
# Take a look at the dataframe
df

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,1.0,after 2015,0.0,1.0,10238,12000.0,sedan,0,0,0,0.0
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,0.0,before 2015,0.0,0.0,10238,16000.0,sedan,0,0,0,1.0
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,1.0,before 2015,0.0,0.0,10238,11000.0,sedan,0,0,0,0.0
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,1.0,before 2015,0.0,1.0,32765,11000.0,sedan,0,0,0,0.0
4,731664,26-39,male,majority,10-19y,none,working class,0.388366,1.0,before 2015,0.0,0.0,32765,12000.0,sedan,2,0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,323164,26-39,female,majority,10-19y,university,upper class,0.582787,1.0,before 2015,0.0,0.0,10238,16000.0,sedan,0,0,1,0.0
9996,910346,26-39,female,majority,10-19y,none,middle class,0.522231,1.0,after 2015,0.0,1.0,32765,NaN,sedan,1,0,0,0.0
9997,468409,26-39,male,majority,0-9y,high school,middle class,0.470940,1.0,before 2015,0.0,1.0,10238,14000.0,sedan,0,0,0,0.0
9998,903459,26-39,female,majority,10-19y,high school,poverty,0.364185,0.0,before 2015,0.0,1.0,10238,13000.0,sedan,2,0,1,1.0
9999,442696,26-39,female,majority,0-9y,none,working class,0.435225,1.0,before 2015,1.0,1.0,10238,13000.0,sedan,0,0,0,0.0

In [4]:
# Look at the info from the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10000 non-null  int64
 1   AGE                  10000 non-null  object
 2   GENDER               10000 non-null  object
 3   RACE                 10000 non-null  object
 4   DRIVING_EXPERIENCE   10000 non-null  object
 5   EDUCATION            10000 non-null  object
 6   INCOME               10000 non-null  object
 7   CREDIT_SCORE         9018 non-null   float64
 8   VEHICLE_OWNERSHIP    10000 non-null  float64
 9   VEHICLE_YEAR         10000 non-null  object
 10  MARRIED              10000 non-null  float64
 11  CHILDREN             10000 non-null  float64
 12  POSTAL_CODE          10000 non-null  int64
 13  ANNUAL_MILEAGE       9043 non-null   float64
 14  VEHICLE_TYPE         10000 non-null  object
 15  SPEEDING_VIOLATIONS  10000 non-null  int64
 16  DUIS                 10000 non-null  int64
 17  PAST_ACCIDENTS       10000 non-null  int64
 18  OUTCOME              10000 non-null  float64
dtypes: float64(6), int64(5), object(8)
memory usage: 1.4+ MB

In [6]:
#duplicate rows
df.duplicated().sum()

0

In [8]:
#check for missing values
print(df.isnull().sum())

ID                       0
AGE                      0
GENDER                   0
RACE                     0
DRIVING_EXPERIENCE       0
EDUCATION                0
INCOME                   0
CREDIT_SCORE           982
VEHICLE_OWNERSHIP        0
VEHICLE_YEAR             0
MARRIED                  0
CHILDREN                 0
POSTAL_CODE              0
ANNUAL_MILEAGE         957
VEHICLE_TYPE             0
SPEEDING_VIOLATIONS      0
DUIS                     0
PAST_ACCIDENTS           0
OUTCOME                  0
dtype: int64

In [10]:
#replace missing values ​​with mean
df['ANNUAL_MILEAGE']=df['ANNUAL_MILEAGE'].fillna(df['ANNUAL_MILEAGE'].mean())
#replace missing values ​​with min
df['CREDIT_SCORE']=df['CREDIT_SCORE'].fillna(df['CREDIT_SCORE'].min())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10000 non-null  int64
 1   AGE                  10000 non-null  object
 2   GENDER               10000 non-null  object
 3   RACE                 10000 non-null  object
 4   DRIVING_EXPERIENCE   10000 non-null  object
 5   EDUCATION            10000 non-null  object
 6   INCOME               10000 non-null  object
 7   CREDIT_SCORE         10000 non-null  float64
 8   VEHICLE_OWNERSHIP    10000 non-null  float64
 9   VEHICLE_YEAR         10000 non-null  object
 10  MARRIED              10000 non-null  float64
 11  CHILDREN             10000 non-null  float64
 12  POSTAL_CODE          10000 non-null  int64
 13  ANNUAL_MILEAGE       10000 non-null  float64
 14  VEHICLE_TYPE         10000 non-null  object
 15  SPEEDING_VIOLATIONS  10000 non-null  int64
 16  DUIS                 10000 non-null  int64
 17  PAST_ACCIDENTS       10000 non-null  int64
 18  OUTCOME              10000 non-null  float64
dtypes: float64(6), int64(5), object(8)
memory usage: 1.4+ MB

In [11]:
#check for missing values
print(df.isnull().sum())

ID                     0
AGE                    0
GENDER                 0
RACE                   0
DRIVING_EXPERIENCE     0
EDUCATION              0
INCOME                 0
CREDIT_SCORE           0
VEHICLE_OWNERSHIP      0
VEHICLE_YEAR           0
MARRIED                0
CHILDREN               0
POSTAL_CODE            0
ANNUAL_MILEAGE         0
VEHICLE_TYPE           0
SPEEDING_VIOLATIONS    0
DUIS                   0
PAST_ACCIDENTS         0
OUTCOME                0
dtype: int64

In [12]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['AGE']).mean()

<ipython-input-12-f1c5894d7dde>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['AGE']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
AGE,,,,,,,,,,,
16-25,492718.329365,0.370594,0.497024,0.203373,0.398313,19776.849206,12810.203707,0.000000,0.000000,0.000000,0.718254
26-39,498826.792034,0.442355,0.644793,0.412667,0.622592,19390.412341,12008.066260,1.009468,0.172706,0.732289,0.336925
40-64,506459.769362,0.511367,0.781303,0.612419,0.805186,20470.613784,11223.145280,1.937564,0.324463,1.421699,0.155919
65+,502290.888442,0.554336,0.855779,0.760302,0.913568,19790.529648,10788.399812,3.044221,0.458291,2.086935,0.098492

In [15]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['GENDER']).mean()

<ipython-input-15-85d052503b89>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['GENDER']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
GENDER,,,,,,,,,,,
female,502647.191816,0.479400,0.693613,0.494012,0.690020,19902.232735,11737.304292,1.030739,0.187026,0.688224,0.263673
male,498388.103607,0.461363,0.700401,0.502405,0.687575,19826.713026,11656.540594,1.936874,0.291583,1.425852,0.363126

In [16]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['RACE']).mean()

<ipython-input-16-62c1234e744a>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['RACE']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
RACE,,,,,,,,,,,
majority,501095.467821,0.471310,0.702286,0.501775,0.687639,19835.395251,11698.687839,1.493342,0.242011,1.061141,0.312028
minority,495290.194332,0.462101,0.648785,0.465587,0.699393,20130.467611,11681.636903,1.387652,0.213563,1.012146,0.324899

In [17]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['DRIVING_EXPERIENCE']).mean()

<ipython-input-17-d91421364511>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['DRIVING_EXPERIENCE']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
DRIVING_EXPERIENCE,,,,,,,,,,,
0-9y,496940.238244,0.424487,0.591218,0.354674,0.545609,19701.781586,12192.354721,0.000000,0.000000,0.000000,0.628045
10-19y,504158.957563,0.463619,0.694453,0.481661,0.680206,19694.941801,11782.159449,1.316460,0.220976,0.959685,0.238557
20-29y,501271.497404,0.517664,0.798018,0.636149,0.830580,20636.537046,11190.358456,2.734309,0.455403,1.966022,0.051439
30y+,499624.831749,0.550523,0.856464,0.753802,0.910646,19387.604563,10788.313987,4.460076,0.663498,3.071293,0.019011

In [18]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['EDUCATION']).mean()

<ipython-input-18-b6404d46fb47>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['EDUCATION']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
EDUCATION,,,,,,,,,,,
high school,503303.309358,0.463817,0.680779,0.480154,0.672841,19699.925427,11797.358495,1.406062,0.223478,1.017801,0.32331
none,500534.679896,0.376750,0.505483,0.329504,0.595822,19285.278329,12220.891193,0.958225,0.160836,0.701305,0.47154
university,497572.122963,0.523023,0.807536,0.599542,0.751018,20321.177699,11335.388536,1.820010,0.294043,1.270112,0.22556

In [19]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['INCOME']).mean()

<ipython-input-19-b348a0b552c7>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['INCOME']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
INCOME,,,,,,,,,,,
middle class,505360.836296,0.477244,0.744153,0.481759,0.687091,19678.353134,11816.115851,1.367166,0.215154,1.026660,0.276894
poverty,498953.151047,0.318736,0.347299,0.200110,0.471334,18960.982359,12709.284783,0.430540,0.067806,0.303197,0.653804
upper class,499163.295895,0.562252,0.870618,0.701107,0.822648,20250.284594,10991.427871,2.213561,0.351245,1.536439,0.133533
working class,499582.087033,0.389915,0.568925,0.320678,0.582360,20077.516939,12262.676713,0.891939,0.167056,0.675234,0.453271

In [21]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['VEHICLE_OWNERSHIP']).mean()

<ipython-input-21-3ff2d297bb8e>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['VEHICLE_OWNERSHIP']).mean()

,ID,CREDIT_SCORE,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
VEHICLE_OWNERSHIP,,,,,,,,,,
0.0,496476.566007,0.408643,0.365017,0.60033,20004.138944,12073.810533,1.027723,0.166337,0.756766,0.579868
1.0,502280.498278,0.497247,0.556098,0.72726,19803.865567,11533.197440,1.680775,0.270875,1.186514,0.197418

In [22]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['VEHICLE_YEAR']).mean()

<ipython-input-22-f790fb71e7c5>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['VEHICLE_YEAR']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
VEHICLE_YEAR,,,,,,,,,,,
after 2015,499079.594791,0.523719,0.807451,0.596439,0.762611,20064.014837,11397.589142,1.831850,0.281240,1.300692,0.106495
before 2015,501149.800057,0.447188,0.648916,0.455433,0.656667,19777.713076,11827.349534,1.330989,0.220899,0.949907,0.403330

In [23]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['MARRIED']).mean()

<ipython-input-23-a50df2c06417>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['MARRIED']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
MARRIED,,,,,,,,,,
0.0,496237.592069,0.433834,0.616580,0.556397,19637.536867,12870.698990,0.994022,0.172379,0.701873,0.434436
1.0,504837.180048,0.507230,0.778001,0.822160,20093.200321,10514.826282,1.975311,0.306503,1.413288,0.191289

In [24]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['CHILDREN']).mean()

<ipython-input-24-42e7685a8b34>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['CHILDREN']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,MARRIED,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
CHILDREN,,,,,,,,,,
0.0,499990.107648,0.429437,0.610861,0.284704,19276.122751,13394.799469,0.747751,0.143959,0.549165,0.473972
1.0,500762.173780,0.488906,0.735918,0.594657,20130.399245,10929.938462,1.815041,0.282230,1.285424,0.240708

In [25]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['POSTAL_CODE']).mean()

<ipython-input-25-7a6d8a389ae1>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['POSTAL_CODE']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,MARRIED,CHILDREN,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
POSTAL_CODE,,,,,,,,,,
10238,499608.748127,0.470537,0.696974,0.496542,0.681556,12178.673061,1.115274,0.200865,1.214121,0.271758
21217,445169.458333,0.492749,0.733333,0.500000,0.725000,12071.466880,1.116667,0.116667,0.633333,1.000000
32765,505039.851792,0.469049,0.697883,0.496743,0.702362,10240.108245,2.606678,0.368078,0.716612,0.377443
92101,504413.522727,0.469749,0.683884,0.528926,0.714876,12090.411468,1.142562,0.165289,0.621901,0.413223

In [26]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['ANNUAL_MILEAGE']).mean()

<ipython-input-26-f511bbb9ebd4>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['ANNUAL_MILEAGE']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,MARRIED,CHILDREN,POSTAL_CODE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
ANNUAL_MILEAGE,,,,,,,,,,
2000.000000,453428.500000,0.619057,1.000000,1.000000,1.000000,32765.000000,7.500000,0.000000,1.000000,0.000000
3000.000000,643593.100000,0.463424,0.700000,1.000000,1.000000,28259.600000,4.400000,0.100000,1.300000,0.400000
4000.000000,563499.037037,0.451973,0.703704,0.888889,1.000000,31096.333333,4.481481,0.370370,1.703704,0.185185
5000.000000,484098.907692,0.503389,0.769231,0.953846,0.984615,26695.661538,3.153846,0.400000,1.476923,0.215385
6000.000000,489827.515152,0.493166,0.763636,0.866667,0.957576,28246.218182,3.709091,0.460606,1.606061,0.181818
7000.000000,506367.608696,0.501123,0.742236,0.850932,0.934783,24173.490683,2.863354,0.344720,1.689441,0.220497
8000.000000,488474.387792,0.505728,0.741472,0.804309,0.928187,22860.132855,2.429084,0.326750,1.508079,0.193896
9000.000000,499748.144860,0.499778,0.740654,0.754673,0.883178,21967.238318,2.198598,0.295561,1.370327,0.235981
10000.000000,507932.882353,0.492585,0.718021,0.671335,0.868347,21247.477124,1.903828,0.290383,1.295051,0.245565
11000.000000,506477.090982,0.474975,0.722267,0.569832,0.781325,20029.392658,1.528332,0.244214,1.138069,0.273743
11697.003207,501170.802508,0.468563,0.702194,0.500522,0.691745,20588.102403,1.410658,0.224660,0.964472,0.337513
12000.000000,503713.570608,0.470517,0.729064,0.490969,0.716749,18691.302956,1.348112,0.240558,1.124795,0.289819
13000.000000,490453.463500,0.455219,0.677221,0.376429,0.629727,19172.683377,1.021988,0.204925,0.880387,0.342128
14000.000000,493284.948546,0.450179,0.649888,0.276286,0.502237,17669.243848,0.872483,0.185682,0.784116,0.373602
15000.000000,504966.985759,0.439069,0.653481,0.185127,0.393987,17320.371835,0.672468,0.166139,0.650316,0.417722
16000.000000,498288.584726,0.434203,0.594272,0.107399,0.319809,15552.477327,0.491647,0.133652,0.441527,0.467780
17000.000000,488444.918699,0.427248,0.536585,0.081301,0.162602,14856.589431,0.402439,0.097561,0.504065,0.532520
18000.000000,528823.805825,0.439283,0.601942,0.029126,0.126214,17359.009709,0.349515,0.116505,0.368932,0.563107
19000.000000,514835.395833,0.374339,0.604167,0.062500,0.145833,13351.416667,0.312500,0.187500,0.250000,0.645833
20000.000000,521618.769231,0.481102,0.692308,0.000000,0.076923,11082.538462,0.461538,0.230769,0.461538,0.692308
21000.000000,475753.000000,0.543071,0.333333,0.000000,0.000000,37525.666667,0.000000,0.000000,0.000000,1.000000
22000.000000,796117.000000,0.546006,0.000000,0.000000,0.000000,10238.000000,0.000000,0.000000,0.000000,1.000000

In [27]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['VEHICLE_TYPE']).mean()

<ipython-input-27-bd2afe3afb58>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['VEHICLE_TYPE']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
VEHICLE_TYPE,,,,,,,,,,,
sedan,500116.688544,0.470889,0.696419,0.497427,0.689699,19890.663866,11703.009339,1.481991,0.239840,1.061220,0.312717
sports car,508611.830189,0.460630,0.708595,0.513627,0.670860,19343.169811,11577.094622,1.501048,0.226415,0.958071,0.324948

In [28]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['SPEEDING_VIOLATIONS']).mean()

<ipython-input-28-13bfe7a72c3b>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['SPEEDING_VIOLATIONS']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,DUIS,PAST_ACCIDENTS,OUTCOME
SPEEDING_VIOLATIONS,,,,,,,,,,
0,499227.393397,0.441484,0.627884,0.384447,0.578560,18642.887828,12329.937466,0.071400,0.311456,0.491647
1,500017.531736,0.490635,0.736399,0.556347,0.740933,19365.299223,11800.756776,0.261658,1.295984,0.158031
2,498050.698536,0.490318,0.749354,0.555556,0.763997,19989.862188,11380.944312,0.309216,1.565030,0.170543
3,509527.534940,0.500006,0.768675,0.619277,0.824096,20363.989157,11007.013612,0.440964,1.946988,0.108434
4,496500.592453,0.516290,0.801887,0.707547,0.850943,22112.905660,10542.941794,0.494340,2.267925,0.109434
5,477721.934169,0.506978,0.843260,0.708464,0.871473,23038.432602,10290.019090,0.598746,2.376176,0.084639
6,538379.202128,0.502907,0.824468,0.707447,0.914894,24216.404255,9734.367243,0.648936,2.813830,0.085106
7,500987.285714,0.528803,0.771429,0.692857,0.878571,24280.042857,9857.578869,0.678571,2.678571,0.050000
8,557617.626667,0.534034,0.733333,0.720000,0.960000,28940.813333,9307.880128,0.866667,2.760000,0.133333
9,510943.408163,0.538883,0.734694,0.734694,0.877551,28918.857143,9030.306450,0.795918,2.612245,0.081633
10,473926.980000,0.540823,0.840000,0.820000,0.920000,30797.940000,9047.880128,0.920000,2.500000,0.080000
11,526704.800000,0.526411,0.933333,0.866667,0.866667,32014.100000,8779.800214,1.000000,2.500000,0.100000
12,466628.500000,0.542156,0.850000,0.900000,0.900000,31638.650000,8604.550481,0.600000,2.700000,0.000000
13,642262.333333,0.482424,0.916667,0.750000,1.000000,32765.000000,8500.000000,1.583333,2.500000,0.000000
14,523777.000000,0.557479,0.800000,0.800000,1.000000,28259.600000,8139.400641,1.200000,3.600000,0.000000
15,561973.500000,0.451225,0.875000,0.500000,1.000000,32765.000000,7625.000000,1.375000,4.125000,0.000000
16,420328.000000,0.622524,1.000000,0.500000,1.000000,32765.000000,8500.000000,0.250000,1.750000,0.000000
17,472146.666667,0.567160,1.000000,1.000000,1.000000,32765.000000,9798.002138,1.333333,1.666667,0.000000
18,519204.000000,0.373548,1.000000,1.000000,1.000000,32765.000000,4000.000000,0.000000,9.000000,0.000000
19,357680.500000,0.508948,1.000000,0.500000,0.500000,32765.000000,10348.501603,0.500000,1.000000,0.000000
22,198079.000000,0.570121,1.000000,1.000000,1.000000,32765.000000,5000.000000,0.000000,6.000000,0.000000

In [29]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['DUIS']).mean()

<ipython-input-29-cf6462adfef4>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['DUIS']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,PAST_ACCIDENTS,OUTCOME
DUIS,,,,,,,,,,
0,498342.008992,0.462351,0.677014,0.467972,0.661616,19564.220005,11836.072743,1.117024,0.841463,0.358955
1,512928.348299,0.503575,0.775510,0.617687,0.796599,20889.023810,11198.168313,2.774830,1.895918,0.127891
2,505565.803625,0.511036,0.809668,0.658610,0.839879,21181.900302,10817.544107,3.770393,2.341390,0.066465
3,471552.661765,0.506309,0.823529,0.705882,0.852941,25355.602941,10340.912048,4.823529,1.852941,0.088235
4,456536.900000,0.492955,0.700000,0.700000,0.800000,28259.600000,11169.700321,7.800000,3.300000,0.300000
5,593530.500000,0.606280,1.000000,0.500000,0.500000,32765.000000,11000.000000,7.500000,4.000000,0.000000
6,513675.000000,0.648747,1.000000,1.000000,1.000000,32765.000000,6000.000000,13.000000,3.000000,0.000000

In [30]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['PAST_ACCIDENTS']).mean()

<ipython-input-30-b61475dd1448>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['PAST_ACCIDENTS']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,OUTCOME
PAST_ACCIDENTS,,,,,,,,,,
0,500885.467586,0.447535,0.641655,0.405444,0.602615,21154.734599,12069.818544,0.598854,0.109599,0.469735
1,508836.114414,0.492340,0.748177,0.545149,0.734156,20745.393718,11604.024431,2.012900,0.311834,0.150308
2,483578.913043,0.492953,0.767210,0.618659,0.797101,18492.778080,11311.542918,2.490036,0.404891,0.129529
3,499098.708978,0.500822,0.767802,0.637771,0.852941,17046.315789,10989.260290,3.122291,0.445820,0.085139
4,510238.185792,0.527597,0.775956,0.721311,0.874317,14603.396175,10732.573998,3.229508,0.573770,0.073770
5,477166.961207,0.519508,0.818966,0.728448,0.887931,13285.879310,10718.263221,3.543103,0.469828,0.038793
6,491316.673611,0.499532,0.826389,0.715278,0.902778,12996.618056,10188.555912,3.701389,0.576389,0.041667
7,522441.163934,0.522841,0.819672,0.688525,0.852459,14029.918033,10696.475673,3.803279,0.573770,0.032787
8,566026.439024,0.523599,0.853659,0.926829,0.902439,12784.097561,9750.927142,4.219512,0.634146,0.000000
9,538064.315789,0.515837,0.789474,0.947368,0.947368,11423.631579,9473.684211,4.894737,0.789474,0.000000
10,380409.111111,0.587429,0.777778,0.777778,1.000000,10238.000000,9444.444444,4.444444,0.555556,0.000000
11,616566.142857,0.404755,0.857143,1.000000,1.000000,10238.000000,9714.285714,4.428571,0.571429,0.000000
12,907650.000000,0.661995,1.000000,0.500000,1.000000,10238.000000,7000.000000,6.000000,0.500000,0.000000
14,866446.000000,0.739051,1.000000,1.000000,1.000000,10238.000000,7000.000000,7.000000,1.000000,0.000000
15,810819.000000,0.465451,1.000000,1.000000,1.000000,10238.000000,7000.000000,5.000000,0.000000,0.000000

In [31]:
# find the mean rating for seat comfort when grouped by both class and gender
df.groupby(['OUTCOME']).mean()

<ipython-input-31-e27cc791c7bc>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['OUTCOME']).mean()

,ID,CREDIT_SCORE,VEHICLE_OWNERSHIP,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS
OUTCOME,,,,,,,,,,
0.0,502580.037571,0.497443,0.814621,0.586719,0.761614,18639.467162,11375.549735,1.924858,0.310179,1.403961
1.0,496010.836259,0.411126,0.439196,0.304181,0.529205,22549.716885,12401.574221,0.514204,0.083626,0.294287